<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inscription</title>
</head>

<body>
  <h1>Créer un compte</h1>
  <form action="/api/signup" method="POST">
    <label for="lastName">Nom : </label>
    <input type="text" name="lastName" required>
    <label for="firstName">Prénom : </label>
    <input type="text" name="firstName" required>
    </br>
    <label for="email">Email : </label>
    <input type="text" name="email" required>
    </br>
    <label for="password">Password : </label>
    <input type="password" name="password" required>
    </br>
    <input type="submit" value="s'inscrire">
  </form>
</body>

</html>