<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestion Utilisateurs</title>
</head>

<body>
  <h1>Gestion Utilisateurs</h1>
  <section>
    <% userData.forEach(user=>{%>
      <div>
        <p>
          <%=user.lastName%>
            <%=user.firstName%>
        </p>
        <!-- update user button -->
        <form action="/update-user/<%=user._id%>?_method=PUT" method="POST">
          <input type="hidden" name="_method" value="PUT">
          <!-- TO DO: default select option that matches user's existing access level-->
          <span>access : <select name="access" id="access">
              <option value="public">public</option>
              <option value="member">membre</option>
              <option value="admin">admin</option>
            </select>
          </span>
          <input type="submit" value="changer access" class="btn">
        </form>
        <!-- delete user button -->
        <form action="/delete-user/<%=user._id%>?_method=DELETE" method="POST">
          <!-- ** OBLIGATOIRE ** -->
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="supprimer" class="btn">
        </form>
      </div>
      <% }) %>
</body>

</html>